/* bleu: #0D619A
noir: #ffffff 
vert: #157359 
orange: #f5c159 
Typographie: 'Roboto', sans-serif */

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/fond_conex_inscri.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#connexion{
    position: absolute;
    top:  35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;
    color: white;
    font-size: 30px;
}
#connexion h1{
    text-shadow: 1px 5px 2px black;
}
#contform{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1% 5%;
    border-radius: 5px;
}

#formulaire{
    display: flex;
    flex-direction: column;
    color: #0D619A;
}
#formulaire a{
    font-size: 15px;
    margin-bottom: 20px;
}
#formulaire input{
    padding: 4%;
    margin-bottom: 10px;
}

#submit{
    position: relative;
    left: 100%;
    transition: 1s;
}
#submit:hover{    
    color: white;
    background-color: #157359;
}
#logo{
    padding-left: 10%;
    padding-bottom: 25%;
    width: 300px;
}

.saisi:hover{
    background-color: #157359;
    color: white;
    transition: 1s;
}

#mdpforgor{
    text-decoration: none;
    font-weight: bold;
    color: #0D619A;
    transition: 1s;
}
#mdpforgor{
    color:#157359;
}

@media screen and (max-width: 767px){
    #connexion{
       width: 300px;
    }
    #contform{
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: white;
       padding: 1% 5%;
       border-radius: 5px;
   }
    #logo{
        width: 200px;
       padding: 0;
    }
    #submit{
       position: relative;
       left: 0;
       transition: 1s;
   }
   }