/* bleu: #0D619A
noir: #ffffff 
vert: #157359 
orange: #f5c159 
Typographie: 'Roboto', sans-serif */

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/fond_conex_inscri.jpg);
    background-repeat: no-repeat;
}

#connexion{
    position: absolute;
    left: 35%;
    top: 20%;
    width: 500px;
    height: 400px;
    color: white;
    font-size: 30px;
}
#connexion h1{
    text-shadow: 1px 5px 2px black;
}
#contform{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1% 5%;
    border-radius: 5px;
}

#formulaire{
    display: flex;
    flex-direction: column;
    color: #0D619A;
}
#formulaire a{
    font-size: 15px;
    margin-bottom: 20px;
}
#formulaire input{
    padding: 4%;
    margin-bottom: 10px;
}

#submit{
    position: relative;
    left: 100%;
}
#logo{
    margin-left: 50%;
}

.saisi:hover{
    background-color: #157359;
    color: white;
    transition: 1s;
}