/* 
       bleu: #0D619A
       noir: #ffffff 
       vert: #157359 
       orange: #f5c159 
       Typographie: 'Roboto', sans-serif;
       
*/

/* Styles pour les tablettes */
@media screen and (min-width: 768px) and (max-width: 1199px) {
       #Icon {
              display: none;
       }

       /* Ajoutez vos styles spécifiques pour les tablettes ici */
}

/* Styles pour les téléphones mobiles */
@media screen and (max-width: 767px) {
       #Icon {
              width: 50px;
              align-items: center;
              position: absolute;
              right: 10%;
       }

       /* Ajoutez vos styles spécifiques pour les téléphones mobiles ici */
       #decal li {
              display: none;
       }

       #post {
              display: none;
       }
}


@media screen and (min-width: 1200px) {
       #Icon {
              display: none;
       }

       /* Ajoutez vos styles spécifiques pour les écrans larges ici */

}


body {
       background-color: black;
       font-family: 'Roboto', sans-serif;
       margin: 0%;
}

header {
       background-image: url(../images/CBD.jpg);
       height: 300px;
       background-position: center;
       background-size: cover;
       padding: 1%;
}

nav {
       display: flex;
       list-style-type: none;
       /* pas de puces */
}


nav a {
       color: white;
       text-decoration: none;
       /*pas de surligneur*/
       text-shadow: 3px 3px 0 #000;
}


img {
       width: 100px;
       /* Modifier cette valeur pour définir la largeur souhaitée */
       /*height: auto;  Cela permet de conserver les proportions de l'image */
}

li {

       list-style-type: none;
       /* pas de puces */
}

h1 {
       color: white;
       text-align: center;
       text-shadow: 4px 4px 0 #000;
}

br {
       line-height: 8em;
       /* ajuste la hauteur de ligne */
       margin: 10px 0;
       /* ajuste les marges supérieure et inférieure */
}


h2 {
       color: #157359;
       text-align: left;

}

h3,
h4,
h5 {
       color: #f5c159;
}

#post {
       margin-left: auto;
}

#decal {
       display: flex;
       gap: 10%;
}

p {
       color: white;
       font-size: 16px;
       line-height: 1.5;

}

.image1 {
       width: 50%;
}

.image2 {
       width: 50%;

}

.image4 {
       width: 50%;
}

.image1,
.image2,
.image4 {
    float: left;
    margin-right: 10%;
    padding-top: 3%; 
}

.text {
    overflow: hidden; /* Empêche le texte de se superposer aux images */
    margin: 5%;
    color: #0D619A;   
}
