
/* bleu: #0D619A
noir: #ffffff 
vert: #157359 
orange: #f5c159 
Typographie: 'Roboto', sans-serif */

body{
    background-color: black;
    font-family: 'Roboto', sans-serif ;
}
main{
    margin: 5% 10%;
}

#formulaire{
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    color: #f5c159;
}

#fond{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}
#image{
    margin-top: 5%;
    width: 300px;
}
h2{
    color: #f5c159 ;
}
p{
    color: #0D619A;
}